<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Backup Storage">
    <!--<setting id="zip" type="folder" label="Choose Backup Storage Location" default="special://home/userdata/addon_data/Andy.plugin.program.Maintenance/"/>-->
    <!--<setting id="zip" type="folder" label="Choose Backup Storage Location" default="special://"/>-->
    <!--<setting id="zip" type="folder" label="Choose Backup Storage Location" default="special://home/"/>-->
    <!--<setting id="zip" type="folder" label="Choose Backup Storage Location" default="Kodi_Backups"/>-->
    <setting id="zip" type="folder" label="Choose Kodi_Backups Location" default="special://"/>
		<setting id="mastercopy" type="bool" label="Create full duplicate backup AS WELL as a universal build" default="false"/>
		<setting type="lsep" label="[COLOR=red]Universal Build:[/COLOR] Will work on any device and is trimmed down in size."/>
		<setting type="lsep" label="[CR][COLOR=blue]Full duplicate backup:[/COLOR] Will only work on your existing device."/>
		<setting type="lsep" label="[CR][CR]"/>
		
	</category>
    
	<category label="Show/Hide Content">
		<setting id="mainmenu" type="bool" label="Addon Backup Zips " default="true"/>
		<setting id="adultbuilds" type="bool" label="Adult Builds" default="true"/>
		<setting id="thirdpartybuilds" type="bool" label="Extra Third-Party Builds" default="false"/>
		<setting id="kmintbuilds" type="bool" label="Preconfigured Backups (Andy)" default="false"/>
		<setting id="maintenance" type="bool" label="Andys Media Shares" default="false"/>
		<setting type="bool" default="false" id="notifications-on-startup" label="Unsubscribe" />
	  <setting id="already_shown" type="bool" label="Check Path" default="false"/>
	</category>


</settings>